{
    "code": 0,
    "msg": "",
    "count": 4,
    "data": [
        {
            "vm_name": "docker-1",
            "vm_ip": "10.109.252.172",
            "swarm_id": "",
            "vm_info": "2核4G内存40G硬盘"
        },
        {
            "vm_name": "docker-2",
            "vm_ip": "10.109.252.169",
            "swarm_id":"" ,
            "vm_info": "2核4G内存40G硬盘"
        },
        {
            "vm_name": "docker-3",
            "vm_ip": "10.109.252.177",
            "swarm_id": "",
            "vm_info": "2核4G内存40G硬盘"
        },
        {
            "vm_name": "docker-4",
            "vm_ip": "10.109.252.176",
            "swarm_id": "",
            "vm_info": "2核4G内存40G硬盘"
        }
   ]
}